html {
  --default-font-family: 'questrial', sans-serif;
  --brand-primary: #03ffff;
}

html * {
  box-sizing: border-box;
}

h1 {
  font-size: 4vw;
  font-style: normal;
  color: white;
  right: 0;
  padding: 5vw 6vw;
  line-height: 1;
  text-align: right;
  z-index: 101;
  font-family: var(--default-font-family, sans-serif);
  font-weight: 400;
  position: fixed;
  margin: 0;
  transform: translate(var(--magnet-x-half), var(--magnet-y-half));
  text-shadow: var(--shadow-x) var(--shadow-y) 0.5rem rgba(255,255,255,0.2);
}

body.panels-active h1 {
  transition: transform 500ms linear;
}

#feature.active {
  opacity: 1;
  transition: opacity 400ms linear 300ms, transform 150ms ease-out 0s;
  transform: translate(var(--magnet-x), var(--magnet-y));
  /* This enables slight rotation in 3D
  transform: translate(var(--magnet-x), var(--magnet-y)) rotate3d(0, 1, 0, var(--tilt-z));
   */
  perspective-origin: center;
  perspective: 1000px;
}

#feature {
  transition: transform 10ms linear, opacity 50ms linear;
  scale: 1.05;
  opacity: 0;
}
#feature-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
  background: black;
  padding: 4vw 7vw;
  position: relative;
}
#wrapper {
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#circle-text {
  border: solid 1px green;
  position: relative;
  right: 30px;
}

textPath {
  font-size: 15.9px;
}

#canvas {
  position: relative;
  z-index: 100;
  pointer-events: none;
  align-self: end;
  justify-self: center;
  max-width: 100vw;
  max-height: 100vh;
  animation: rotate 100s linear infinite;
}

#menu-list {
  list-style-position: inside;
  color: white;
  font-family: var(--default-font-family);
  position: fixed;
  right: 5%;
  bottom: 8rem;
  background-color: rgba(0, 0, 0, 0.305);
  line-height: 3;
  text-align: end;
  padding: 2rem 0 2rem 2rem;
  border: 1px solid white;
  border-left: 4px solid white;
  corner-shape: bevel;
  border-bottom-right-radius: 16px;
  border-top-left-radius: 16px;
}
#menu-list li a {
  color: white;
  padding: 0 2rem;
  transition: all 0.1s ease-in;
  text-decoration: none;
  display: inline-block;
  min-width: 20ch;
}

#menu-list li::marker {
  content: "+";
  font-size: 2.2em;
  display: block;
  line-height: 1em;
  color: rgba(255,255,255,0.4);
}

#menu-list li:where(:hover, :focus, :focus-within) {
  transition: all 0.1s ease-in;
}

#menu-list li:where(:hover, :focus, :focus-within)::marker {
  color: rgba(255,255,255,1);
}

#menu-list li:where(:hover, :focus, :focus-within) a {
  outline: none;
  cursor: pointer;
  scale: 1.2;
  transform: translateX(-0.5em);
  color: var(--brand-primary, #03ffff);
}

#container {
  display: flex;
  align-self: center;
  justify-self: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  object-fit: cover;
  z-index: 0;
  /* border: 10px solid white; */
}

#cont-background {
  background-color: white;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 520px;
  height: 520px;
}

body {
  margin: 0;
  overflow: hidden;
  background: black;
}

text {
  fill: #000000;
  font-family: "Futura", sans-serif;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body > header {
  position: relative;
  z-index: 9999;
}

h1 em {
  font-style: normal;
  text-align: right;
  display: block;
  font-weight: 200;
  line-height: 0.57;
}


.by {
  transition-duration: 1s;
  display: inline-block;
  text-transform: lowercase;
  transform: none;
  opacity: 1;
  transition-property: transform, color;
  color: var(--next-color, 'white');
}

.madila {
  letter-spacing: 0.03em;
  display: inline-flex;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
  transition-property: opacity, transform;
  transform: none;
  font-size: 3.2vw;
}



html:not(.braindbird-loaded) {
  .by {
    opacity: 0;
    transform: scale(0.5) rotate(-45deg);
  }
  .madila {
    opacity: 0;
    transform: translateX(4rem);
  }
}


@media screen and (max-width: 1111px) {
  #menu-list {
    background-color: rgba(0, 0, 0, 0.805);
  }
}


#feature-container > p {
  color: #888888;
  width: 100%;
  font-family: Futura, sans-serif;
  position: absolute;
  bottom: 0;
  padding: 0 1rem;
  text-align: center;
  z-index: 99999;
  font-size: 2.3ch;
}

#feature-container.panels-active {
  justify-content: unset;
  align-items: unset;
  p {
    display: none;
  }
}
