html {
  --default-font-family: "questrial", sans-serif;
  --brand-primary: #03ffff;
  line-height: 1.5;
}

html * {
  box-sizing: border-box;
  font-family: var(--default-font-family, sans-serif);
}

h1 {
  font-size: 4vw;
  font-style: normal;
  color: white;
  right: 0;
  padding: 5vw 6vw;
  line-height: 1;
  text-align: right;
  z-index: 101;
  font-family: var(--default-font-family, sans-serif);
  font-weight: 400;
  position: fixed;
  margin: 0;
  transform: translate(var(--magnet-x-half), var(--magnet-y-half));
  text-shadow: var(--shadow-x) var(--shadow-y) 0.5rem rgba(255, 255, 255, 0.2);
}

p {
  margin-top: 0.4rem;
}
body.panels-active h1 {
  transition: transform 500ms linear;
}

#feature.active {
  opacity: 1;
  transition: opacity 400ms linear 300ms, transform 150ms ease-out 0s;
  transform: translate(var(--magnet-x), var(--magnet-y));
  /* This enables slight rotation in 3D
  transform: translate(var(--magnet-x), var(--magnet-y)) rotate3d(0, 1, 0, var(--tilt-z));
   */
  perspective-origin: center;
  perspective: 1000px;
}

#feature {
  transition: transform 10ms linear, opacity 50ms linear;
  scale: 1.05;
  opacity: 0;
}
#feature-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
  background: black;
  padding: 4vw 7vw;
  position: relative;
  background: radial-gradient(#232323, #000000);
}
#wrapper {
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#circle-text {
  border: solid 1px green;
  position: relative;
  right: 30px;
}

textPath {
  font-size: 15.9px;
}

.panels-active canvas {
  max-width: 250px;
  max-height: 150px;
}

.panels-active #container {
  z-index: 9999;
  width: 250px;
  height: 150px;
  top: 2rem;
  left: 2rem;
}

#content-box {
  opacity: 0;
  list-style-position: inside;
  color: white;
  font-family: var(--default-font-family);
  position: fixed;
  right: 4%;
  bottom: 8rem;
  top: 15vw;
  left: 96%;
  background-color: rgba(0, 0, 0, 0.305);
  line-height: 1.5;
  padding: 0;
  border: 0 solid white;
  corner-shape: bevel;
  border-bottom-right-radius: 16px;
  border-top-left-radius: 16px;
  z-index: 800;
}

.panels-active #content-box {
  transition-duration: 600ms;
  transition-timing-function: linear;
  transition-delay: 1.5s;
  transition-property: left, right, bottom, opacity;
  padding: 0 280px 0 2rem;
  left: 5%;
  border: 1px solid white;
  border-left: 4px solid white;
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  line-height: 1;
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

#menu-list {
  list-style-position: inside;
  color: white;
  font-family: var(--default-font-family);
  position: fixed;
  right: 5%;
  bottom: 8rem;
  background-color: rgba(0, 0, 0, 0.305);
  line-height: 3;
  text-align: end;
  padding: 2rem 0 2rem 2rem;
  border: 1px solid white;
  border-left: 4px solid white;
  corner-shape: bevel;
  border-bottom-right-radius: 16px;
  border-top-left-radius: 16px;
  z-index: 10001;
}
#menu-list li a {
  color: white;
  padding: 0 2rem;
  transition: all 0.1s ease-in;
  text-decoration: none;
  display: inline-block;
  min-width: 20ch;
}

#menu-list li::marker {
  content: "+";
  font-size: 2.2em;
  display: block;
  line-height: 1em;
  color: rgba(255, 255, 255, 0.4);
}

#menu-list li:where(:hover, :focus, :focus-within):has(.active)::marker {
  transition: all 0.1s ease-in;
}

#menu-list li:where(:hover, :focus, :focus-within)::marker,  #menu-list li:has(.active)::marker {
  color: rgba(255, 255, 255, 1);
}

#menu-list li:where(:hover, :focus, :focus-within) a, #menu-list li a.active {
  outline: none;
  cursor: pointer;
  scale: 1.2;
  transform: translateX(-0.5em);
  color: var(--brand-primary, #03ffff);
}

#container {
  display: flex;
  align-self: center;
  justify-self: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  object-fit: cover;
  z-index: 0;
  /* border: 10px solid white; */
}

#cont-background {
  background-color: white;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 520px;
  height: 520px;
}

body {
  margin: 0;
  overflow: hidden;
  background: black;
}

text {
  fill: #000000;
  font-family: "Futura", sans-serif;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body > header {
  position: relative;
  z-index: 9999;
}

h1 em {
  font-style: normal;
  text-align: right;
  display: block;
  font-weight: 200;
  line-height: 0.57;
}

.by {
  transition-duration: 1s;
  display: inline-block;
  text-transform: lowercase;
  transform: none;
  opacity: 1;
  transition-property: transform, color;
  color: var(--next-color, "white");
}

.madila {
  letter-spacing: 0.03em;
  display: inline-flex;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
  transition-property: opacity, transform;
  transform: none;
  font-size: 3.2vw;
}

html:not(.braindbird-loaded) {
  .by {
    opacity: 0;
    transform: scale(0.5) rotate(-45deg);
  }
  .madila {
    opacity: 0;
    transform: translateX(4rem);
  }
}

#feature-container > p {
  color: #888888;
  width: 100%;
  font-family: Futura, sans-serif;
  position: absolute;
  bottom: 0;
  padding: 0 1rem;
  text-align: center;
  z-index: 99999;
  font-size: 2.3ch;
}

#feature-container.panels-active {
  justify-content: unset;
  align-items: unset;
  p.solutions {
    display: none;
  }
}

#content-box {
  overflow: hidden;
  letter-spacing: 0.02em;
}

#content-box section {
  overflow-y: auto;
  height: 100%;
  padding-right: 1rem;
  padding-top: 2rem;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f199;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

details {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  margin-bottom: 0.7rem;
  summary {
    font-weight: 500;
    font-size: 1.3em;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

summary::marker {
}

.projects-content-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.screenshot,
.soundcloud {
  width: 45%;
}

.soundcloud {
  max-height: 150px;
}

@media screen and (max-width: 1111px) {
  #content-box {
    top: 150px;
  }
  .panels-active #content-box {
    padding: 0 2rem;
    bottom: 100px;
  }
  #menu-list {
    right: -170px;
    background-color: rgba(0, 0, 0, 0.805);
    transition: 300ms linear;
    padding: 2rem 0 2rem 1rem;
  }
  #menu-list:where(:hover, :active, :focus, :focus-within) {
    right: 0;
    background-color: rgba(0, 0, 0, 0.905);
  }
  #feature-container > p {
    font-size: 1.3ch;
  }
  .panels-active #container {
    top: 0;
    left: -2rem;
  }
}


.content-wrapper {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: flex-end;
  footer {
    width: 100%;
    display: none;
  }
}

.panels-active footer {
  display: flex;
  justify-content: space-between;
  z-index: 800;
  padding: 1rem;
}

footer a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: .5rem 1rem;
  border: 1px solid white;
  transition: all 300ms linear;
  corner-shape: bevel;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  &:where(:hover, :active, :focus) {
    text-decoration: underline;
    border-left-width: 4px;
  }
}
